{% extends 'accounts/base.html' %}
{% load static %}


{% block title %}
WeShare-ChangePassword    
{% endblock title %}


{% block content %}
<div class="container-lg  mainContainer px-0 px-lg-5">
    <div class="card text-center p-5 border-0 shadow-lg childCard">
        <h2 class="display-5 fw-bold text-primary brand"><i class="bi bi-chat-text-fill"></i>WeShare</h2>
        <h2 class="display-6 fw-bold mb-4">Change Password</h2>
        <form action="" method="POST">
            {% csrf_token %}

            {% if form.errors %}
                <div class="text-danger border border-danger mb-4 p-2">
                    <p class="my-0">{{form.non_field_errors| striptags}}</p>
                    <p class="my-0">{{form.old_password.errors| striptags}}</p>
                    <p class="my-0">{{form.new_password1.errors| striptags}}</p>
                    <p class="my-0">{{form.new_password2.errors| striptags}}</p>
                </div>
            {% endif %}
            
            <div class="mb-3">
                <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" class="form-control" placeholder="Enter Old Password">
            </div>
            <div class="mb-3">
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control" placeholder="Enter New Password">
                
            </div>
            <div class="mb-3">
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control" placeholder="Confirm New Password"> 
                <div id="passwordHelpBlock"  class="form-text text-start" >
                    Your password must contain at least 8 characters.
                  </div>
            </div>
            <button type="submit" class="btn btn-primary">Save changes</button>
            <a href="{% url 'core:home' %}" class="btn btn-outline-danger"> Cancel</a>
        </form>

         

    </div>
</div>


{% endblock content %}
    
    