{% extends 'core/base.html' %}
{% load static %}


{% block title %}
    WeShare-Search
{% endblock title %}


{% block content %}
    <div class="container  my-4">
        <div class="row justify-content-center">
            <div class="col-lg-7 p-2 px-lg-5 py-lg-2">
                <div class="p-1 px-lg-2 py-lg-4 border-bottom">
                    <h3 class="fw-bold  my-0">Search results for '{{request.GET.query}}'</h3>
                </div>
                
                {% for profile in profile_list %}
                
                
                    
                <div class="card p-1 py-2 my-1 px-lg-2 py-lg-4  border-0  shadow-sm">
                    <div class="flexbox d-flex align-items-start">
                        <div class="profile_picture">
                            <img src="{{ profile.get_profile_pic_url }}" alt="" class="bd-placeholder-img rounded-circle border-primary mx-2" height="60" width="60">
                        </div>
                        <div class="profile_information">
                            <p class="my-0 fw-bold ">{{profile.fullName}} {% if profile.verified %}<i class="bi bi-patch-check-fill text-primary px-1"></i> {% endif %}</p>
                            <p class="my-0 fw-bold text-secondary">@{{profile.user.username}}</p>
                            <p class="my-0 small">{{profile.bio | truncatechars:125 }}</p>
                        </div>
                        <div class="button px-2 ms-auto">
                            <a class="btn btn-sm btn-primary fw-bold" href="{% url 'core:othersProfile' profile.user.username %}">
                                View
                            </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class=" text-secondary p-1 py-2 my-1 px-lg-2 py-lg-4">
                    No users found
                </div>
                {% endfor %}
                    
            </div>




            <div class="col-lg-4 p-2 px-lg-4 py-lg-2">
                <div class="p-1 px-lg-2 py-lg-4 border-bottom">
                    <h3 class="fw-bold  my-0">Who to follow</h3>
                </div>

                <div class="card p-1 py-2 my-1 px-lg-2 py-lg-3  border-0  shadow-sm">
                    <div class="flexbox d-flex align-items-start">
                        <div class="profile_picture">
                            <img src="{% static 'images/avatars/avatar11.jpg' %}" alt="" class="bd-placeholder-img rounded-circle border-primary mx-2" height="60" width="60">
                        </div>
                        <div class="profile_information">
                            <p class="my-0 fw-bold ">Sudarshan Achaler<i class="bi bi-patch-check-fill text-primary px-1"></i></p>
                            <p class="my-0 fw-bold text-secondary small">@sudarshan</p>
                        </div>
                        <div class="button px-2 ms-auto">
                            <a class="btn btn-sm btn-primary fw-bold" href="/profile/sudarshan">
                                View
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card p-1 py-2 my-1 px-lg-2 py-lg-3  border-0  shadow-sm">
                    <div class="flexbox d-flex align-items-start">
                        <div class="profile_picture">
                            <img src="{% static 'images/avatars/avatar01.jpg' %}" alt="" class="bd-placeholder-img rounded-circle border-primary mx-2" height="60" width="60">
                        </div>
                        <div class="profile_information">
                            <p class="my-0 fw-bold ">Prafullata Achaler<i class="bi bi-patch-check-fill text-primary px-1"></i></p>
                            <p class="my-0 fw-bold text-secondary small">@prafullata</p>
                        </div>
                        <div class="button px-2 ms-auto">
                            <a class="btn btn-sm btn-primary fw-bold" href="/profile/prafullata">
                                View
                            </a>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
{% endblock content %}
    